.aboutSection {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: 2px solid var(--background-color);
  &__title {
    margin-bottom: 15px;
  }
  &__subtitleTitle {
    font-weight: 500;
    font-size: 1.1rem;
    font-style: italic;
    width: calc(min(65ch, 90%));
    text-align: center;
  }
  img {
    display: block;
    width: calc(min(600px, 90%));
  }
}
