.sidebar {
  position: fixed;
  width: 60px;
  top: 45px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-background-color);
  color: var(--primary);
  box-shadow: 2px 4px 5px -2px rgba(88, 66, 90, 1);
  padding-top: 25px;
  &__option {
    margin-bottom: 25px;
    box-shadow: 1px 0px 7px 0px rgba(88, 66, 90, 1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &--selected {
      background-color: var(--primary-focus);
    }
  }
  &__icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
