.taskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  &__left {
    display: flex;
    align-items: center;
  }
  &__title {
    margin: 0;
  }
  &__button {
    max-width: 140px;
    margin: 0;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-size: 0.8rem;
      margin-left: 5px;
    }
    @media screen and (min-width: 768px) {
      max-width: 200px;
    }
  }
}
