.categoryTable {
  box-shadow: 1px 1px 34px -17px rgba(89, 24, 69, 1);
  &__scrollbar {
    max-height: 70vh;
    .os-scrollbar-handle {
      background-color: var(--contrast-focus) !important;
    }
  }
}
