.passwordInput {
  margin-bottom: 20px;
  &__content {
    position: relative;
    margin-top: 10px;
  }
  input {
    margin: 0 !important;
  }
  input:not([type='checkbox']):not([type='radio'])[aria-invalid='true'] {
    background-image: none;
  }
  &__icon {
    position: absolute;
    top: 10%;
    font-size: 1.3rem;
    right: 1rem;
  }
}
